body {
    position: relative;
}

#aboutCards {
    position: relative;
}

Container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

Card {
    padding: 2rem;

}

Card.Img {
    border-radius: 50;
    border: 5px;
}