

.nav {
    border: 10px;
   
}


.categoryBody {
    text-align: center;
    
}

.categoryHeader {
    background-color: rgb(174, 249, 138);
    height: 90px;
    width: 100%;
    
}

.border1 {
    background-color: green;
}

#border6 {
    background-color: rgb(34, 13, 101);
    text-align: center;
}


.container {
    background-color: rgba(100, 170, 254, 0.621);
    height: 1000px;
    width: auto;
    align-items: center;
    border-radius: 10px;
}

.Card.Body {
    border-radius: 10px;
}



